<ul class="communities">
	{%- for community in collections.community | sort(false, false, 'fileSlug') -%}
		<li class="communities-item">
			<div class="communities-logo" style="
				{%- if community.data.image %}--community-image: url('{{ community.data.image }}');{% endif -%}
				{%- if community.data.backgroundColor %}--community-background-color: {{ community.data.backgroundColor }};{% endif -%}
				{%- if community.data.color %}--community-color: {{ community.data.color }};{% endif -%}
			">
				<a class="communities-link h3" href="{{ community.fileSlug }}">{{ community.data.label or community.fileSlug | deslug | capitalise }}</a>
			</div>
			{%- if community.data.description -%}
				<div class="communities-description">
					<p>{{- community.data.description | striptags(true) | escape | replace("\n", "</p><p>") | safe -}}</p>
				</div>
			{%- endif -%}
		</li>
	{%- endfor -%}
</ul>
