<div class="error-message">
  <div class="error-title">{{ title }}</div>
  {%- if error -%}
    <p>{{ error | safe }}</p>
  {%- endif -%}
  {%- if code -%}
    <p class="error-code-title">Code that caused the error:</p>
    <pre><code>{{ code }}</code></pre>
  {%- endif -%}
</div>
