<meta property="og:title" content="{{ documentTitle }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:site_name" content="{{ websiteTitle }}" />
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://communities.hippodigital.co.uk/assets/previews/default.png" />

<meta name="twitter:title" content="{{ documentTitle }}"/>
<meta name="twitter:description" content="{{ description }}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="https://communities.hippodigital.co.uk/assets/previews/default.png"/>
