<!---
layout: layout.html
--->
<main id="content">
	{{ content | safe }}
	<h2 id="communities">Communities</h2>
	<ul class="communities">
		{% for path, community in communities %}
			<li class="h3" style="
				{% if community.image %}--community-background-image: url('{{ community.image }}');{% endif %}
				{% if community.backgroundColor %}--community-background-color: {{ community.backgroundColor }};{% endif %}
				{% if community.color %}--community-color: {{ community.color }};{% endif %}
			">
				<a href="{{ path }}">{{ community.text}}</a>
			</li>
		{% endfor %}
	</ul>
</main>