{%- set documentTitle %}{{- page.fileSlug | deslug | capitalise }} – {{ websiteTitle -}}{% endset -%}
{%- set description %}{{ websiteDescription }}{% endset -%}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ documentTitle }}</title>
	<meta name="description" content="{{ description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
	<link rel="stylesheet" href="/assets/styles.css">
	{% include "_social-meta-tags.njk" %}
	{% block socialMediaImages %}
		<meta property="og:image" content="{{ constants.WEBSITE_URL }}/assets/previews/default.png" />
		<meta name="twitter:image" content="{{ constants.WEBSITE_URL }}/assets/previews/default.png"/>
	{% endblock %}
	<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/DMSans-regular.woff2" crossorigin />
	<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/DMSans-bold.woff2" crossorigin />
	{% block head %}{% endblock %}
</head>
<body id="top"{% if bodyClasses %} class="{{ bodyClasses }}"{% endif %}>
	<a class="skip-link visually-hidden-focusable" href="#content">Skip to content</a>
	<header class="header">
		<div class="container">
			<a class="header-link logo" href="/" aria-label="Hippo Digital Communities Home">
				{%- include "_logo.njk" -%}
			</a>
			{% block headerContent %}{% endblock %}
		</div>
	</header>
	{% block beforeContent %}{% endblock %}
	<div class="container container--main">
		<div class="content">
			<main id="content">
				{% block content %}{{ content | safe }}{% endblock %}
			</main>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
            {% if "_wiki/_Footer.md" | fileExists %}
                {% renderFile "_wiki/_Footer.md" %}
            {% endif %}
            <div class="footer-inline-links">
				{%- set wikiPageBaseURL = "https://github.com/" + constants.GITHUB_REPOSITORY + "/wiki/" + page.fileSlug -%}
				{%- set log = page.inputPath | gitLog -%}
				<ul class="footer-inline-links">
					{% if log | length %}
						<li>
							<a href="{{ wikiPageBaseURL }}/_compare/{{ log.commit }}?diff=unified">
								{{- log.author }} edited this page {{ log.date | formatDate -}}
							</a>
						</li>
					{% endif %}
                    <li>
                        <a href="{{ wikiPageBaseURL }}/_edit">
                            Edit this page
                        </a>
                    </li>
                </ul>
			</div>
			{% if not constants.DEPLOYED %}
				<h2 class="margin-top-0">Development data</h2>
				<h3>Constants</h3>
				<pre><code>{{ constants | dump(2) }}</code></pre>
				<h3>Page</h3>
				<pre><code>{{ page | dump(2) }}</code></pre>
				<h3>Git Log</h3>
				<pre><code>{{ log | dump(2) }}</code></pre>
			{% endif %}
		</div>
	</footer>
</body>

</html>
