{% extends "layout.njk" %}

{% set title = page.fileSlug | deslug | capitalise %}
{% set community = collections.community | filterBy('fileSlug', page.fileSlug) %}
{% set parentPage = collections.all | filterBy('fileSlug', parent) %}

{% block beforeContent %}
    {%- if parentPage -%}
        <a class="back-link" href='/{{ parentPage.fileSlug }}'>Back to {{ parent.data.label or parentPage.fileSlug | deslug | lower }}</a>
    {%- elseif permalink !== "/" -%}
        <a class="back-link" href='/'>Back to communities</a>
    {%- endif -%}
{% endblock %}

{% block content %}
    {%- if community -%}
        <div class="hero{% if community.data.image %} hero--with-image{% endif%}" style="
			--community-image: url('{{ community.data.image }}');
            --community-background-color: {{ community.data.backgroundColor }};
            --community-color: {{ community.data.color }};
        ">
            <h1 class="hero-title">{{ title }}</h1>
        </div>
    {%- else -%}
        <h1>{{ title }}</h1>
    {%- endif -%}
    {{- super() -}}
{% endblock %}