<!---
layout: layout.html
--->
{%- if parentPage -%}
    <a class="back-link" href='/{{ parentPage }}'>Back to {{ communities[parentPage].text }}</a>
{%- else -%}
    <a class="back-link" href='/'>Back to communities</a>
{%- endif -%}
<main id="content">
    {%- set title = page.fileSlug | slugToTitle -%}
    {%- set community = false -%}
    {%- for c in collections.community -%}
        {%- if c.fileSlug === page.fileSlug -%}
            {%- set community = c.data -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if community -%}
        <div class="hero{% if community.image %} hero--with-image{% endif%}" style="
            {% if community.image %}--hero-background-image: url('{{ community.image }}');{% endif %}
            {% if community.backgroundColor %}--hero-background-color: {{ community.backgroundColor }};{% endif %}
            {% if community.color %}--hero-color: {{ community.color }};{% endif %}
        ">
            <h1 class="hero-title">{{ title }}</h1>
        </div>
    {%- else -%}
        <h1>{{ title }}</h1>
    {%- endif -%}
    {{ content | safe }}
    
</main>