{% extends "layout.njk" %}

{% set title = page.fileSlug | deslug | capitalise %}
{% set community = collections.community | filterBy('fileSlug', page.fileSlug) %}
{% set parentPage = collections.all | filterBy('fileSlug', parent) %}

{% block beforeContent %}
    <div class="container container--main">
        {%- if parentPage -%}
            <a class="back-link" href='/{{ parentPage.fileSlug }}'>Back to {{ parent.data.label or parentPage.fileSlug | deslug | lower }}</a>
        {%- else -%}
            <a class="back-link" href='/'>Back to communities</a>
        {%- endif -%}
    </div>
{% endblock %}

{% block socialMediaImages %}
    {%- if community -%}
        <meta property="og:image" content="{{ constants.WEBSITE_URL }}{% socialMediaPreview community %}" />
        <meta name="twitter:image" content="{{ constants.WEBSITE_URL }}{% socialMediaPreview community %}"/>
    {%- else -%}
        {{- super() -}}
    {%- endif -%}
{% endblock %}

{% block content %}
    {%- if community -%}
        <div class="hero{% if community.data.image %} hero--with-image{% endif%}" style="
            {%- if community.data.image %}--community-image: url('{{ community.data.image }}');{% endif -%}
            {%- if community.data.backgroundColor %}--community-background-color: {{ community.data.backgroundColor }};{% endif -%}
            {%- if community.data.color %}--community-color: {{ community.data.color }};{% endif -%}
        ">
            <h1 class="hero-title">{{ title }}</h1>
        </div>
    {%- else -%}
        <h1>{{ title }}</h1>
    {%- endif -%}
    {{- super() -}}
    {%- if (content | textLength) > 500 -%}
        <a class="back-to-top" href="#top">Back to top</a>
    {%- endif -%}
{% endblock %}