<!---
layout: layout.html
--->
{%- if parentPage -%}
    <a class="back-link" href='/{{ parentPage }}'>Back to {{ communities[parentPage].text }}</a>
{%- else -%}
    <a class="back-link" href='/'>Back to communities</a>
{%- endif -%}
<main id="content">
    {%- set title = page.fileSlug | replace("-", ' ') -%}
    
    {%- set community = communities[page.fileSlug] -%}
    {%- if community -%}
        <div class="hero" style="
            {% if community.image %}--hero-background-image: url('{{ community.image }}');{% endif %}
            {% if community.backgroundColor %}--hero-background-color: {{ community.backgroundColor }};{% endif %}
            {% if community.color %}--hero-color: {{ community.color }};{% endif %}
        ">
            <h1 class="hero-title">{{ title }}</h1>
        </div>
    {%- else -%}
        <h1>{{ title }}</h1>
    {%- endif -%}

    {{ content | safe }}
</main>