:root {
  --light-color: #e5ebf0;
  --dark-color: #0c2340;
  --text-color: var(--dark-color);
  --background-color: var(--light-color);
  --link-color: #137270;
  --font-family: DM Sans, -apple-system, linkMacSystemFont, "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  --code-padding: 0.5rem;
  --grey: #b1b4b6;
  --underline-offset: 0.1em;
  --underline-thickness: 0.1em;
  --underline-thickness-big: 0.175em;
  --measure: 56ch;
}
html {
  scroll-padding: 1.4rem;
}
body {
  margin: 0 auto;
  max-width: 88rem;
  padding: 5vh 5vw;
  font-size: clamp(1rem, 0.763rem + 1.1852vw, 1.4rem);
  line-height: 1.5;
  font-family: var(--font-family);
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: var(--underline-offset);
  text-decoration-thickness: var(--underline-thickness);
}

a:focus,
a:hover {
  text-decoration-thickness: var(--underline-thickness-big);
}

a:not(header a):not(main a):not(:hover):not(:focus) {
  color: currentColor;
}

main {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 0.6em;
}
h1 {
  max-width: 15ch;
  font-size: clamp(2.4rem, 1.4519rem + 4.7407vw, 4rem);
  margin-top: 0.3em;
  margin-bottom: 0.8em;
}

.h2,
h2 {
  font-size: clamp(2rem, 1.763rem + 1.1852vw, 2.4rem);
}

.h3,
h3 {
  font-size: clamp(1.8rem, 1.6815rem + 0.5926vw, 2rem);
}

h4,
h5,
h6 {
  font-size: clamp(1.4rem, 1.2815rem + 0.5926vw, 1.6rem);
}

li > :where(h2, h3, h4, h5, h6) {
  margin: 0;
  margin-bottom: 1rem;
}

blockquote {
  border-left: 5px solid var(--grey);
  margin-left: 0;
  padding-left: 1rem;
}

p,
ul,
ol,
pre {
  max-width: var(--measure);
}
p,
ul,
ol,
pre,
table {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
ol,
ul {
  padding-left: 1rem;
}
li {
  margin-bottom: 0.25rem;
}

pre {
  font-size: 1rem;
  background: var(--text-color);
  color: var(--background-color);
  padding: var(--code-padding);
  border-radius: 4px;
}
pre > code {
  box-shadow: none;
}

code {
  background: var(--text-color);
  color: var(--background-color);
  box-shadow: 0 0 0 calc(var(--code-padding) * 0.5) var(--text-color);
  border-radius: 2px;
}

table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid var(--grey);
}

main > img {
  display: block;
  margin: 0;
  max-width: 100%;
}

hr {
  margin: 0;
  margin-bottom: 2rem;
  border: 0;
  border-top: var(--underline-thickness-big) solid var(--grey);
}

.header {
  margin-bottom: 1.25rem;
}

.header-link {
  display: inline-block;
  font-size: 1.3rem;
  padding: 1rem;
  padding-bottom: 0.3rem;
  color: var(--background-color);
  background: var(--text-color);
  --underline-offset: 0.3em;
  --underline-thickness-big: 0.15em;
}
.header-link:not(:hover):not(:focus) {
  text-decoration: none;
}

.header-link:focus::after,
.header-link:hover::after {
  border-color: currentColor;
}

.header-title {
  font-size: 1.84em;
  font-weight: bold;
}
.logo--image {
  display: block;
  height: 2.125em;
  width: 11.8125em;
}

.back-link {
  display: inline-block;
  margin-top: 0.5rem;
}

.back-link::before {
  --chevron-thickness: var(--underline-thickness);
  content: "";
  position: relative;
  display: inline-block;
  top: -0.06em;
  height: 0.36em;
  width: 0.36em;
  margin-left: 0.3em;
  margin-right: 0.125em;
  transform: rotate(-135deg);
  border-style: solid;
  border-width: var(--chevron-thickness) var(--chevron-thickness) 0 0;
}

footer {
  border-top: var(--underline-thickness-big) solid var(--grey);
  padding-top: 1rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.contains-task-list {
  list-style: none;
  padding-left: 0;
}

.communities {
  list-style: none;
  padding: 0;
}
.communities li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.communities img {
  height: 1em;
  width: 1em;
}

[hidden] {
  display: none !important;
}

:focus {
  outline: 0.125rem solid var(--text-color);
  outline-offset: 0.25rem;
}
