:root {
  --white: #e5ebf0;
  --dark-blue: #0c2340;
  --light-grey: #d8dbde;
  --light-green: #A0DAB3;
  --cyan: #137270;
  --grey: #b1b4b6;
  --red: #d4351c;

  --light-color: var(--white);
  --dark-color: var(--dark-blue);
  --text-color: var(--dark-color);
  --background-color: var(--light-color);
  --link-color: var(--cyan);
  --font-family: DM Sans, -apple-system, linkMacSystemFont, "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  --code-padding: 0.5rem;
  --underline-offset: 0.1em;
  --underline-thickness: 0.1em;
  --underline-thickness-big: 0.175em;
  --measure: 56ch;
  --outline-width: 0.125rem;
  --outline-offset: 0.25rem;
  --outline-color: var(--text-color);
  --container-padding: 5vw;
  --main-padding-top: max(3rem, 3vh);
  --main-padding-bottom: max(3rem, 3vh);
  --content-padding-horizontal: 2.3rem;
  --fingerprint-size: 60rem;
}
::-moz-selection {
  background: var(--link-color);
  color: var(--background-color);
}
::selection {
  background: var(--link-color);
  color: var(--background-color);
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/DMSans-regular.woff2)
    format("woff2");
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/DMSans-bold.woff2)
    format("woff2");
}

html {
  scroll-padding: 1.4rem;
}
body {
  font-size: clamp(1rem, 0.763rem + 1.1852vw, 1.4rem);
  line-height: 1.5;
  font-family: var(--font-family);
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
@supports (background-blend-mode: overlay) {
  body:not(.is-home)  {
    background-image: url(../assets/background-texture.svg);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: var(--fingerprint-size);
    background-position: top 6rem left -15rem;
  }
}

.skip-link {
  display: block;
  padding: 1rem 2rem;
  background: var(--background-color);
  color: var(--link-color);
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}
@media (max-width: 50rem) {
  .container--main {
    padding: 0;
  }
}

.content {
  position: relative;
  z-index: 2;
  padding: 0 var(--content-padding-horizontal);
  background: var(--background-color);
  max-width: var(--measure);
}
@media (max-width: 50rem) {
  .content {
    padding: 0 5vw;
  }
}
@media (min-width: 49rem) {
  .is-home .content {
    padding: 0;
  }
}

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: var(--underline-offset);
  text-decoration-thickness: var(--underline-thickness);
}

a:focus,
a:hover {
  text-decoration-thickness: var(--underline-thickness-big);
}

a:not(header a):not(main a):not(footer a):not(:hover):not(:focus) {
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.6em;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
}

.h1,
h1 {
  max-width: 15ch;
  font-size: clamp(2.4rem, 1.4519rem + 4.7407vw, 4rem);
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

.h2,
h2 {
  font-size: clamp(2rem, 1.763rem + 1.1852vw, 2.4rem);
}

.h3,
h3 {
  font-size: clamp(1.8rem, 1.6815rem + 0.5926vw, 2rem);
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  font-size: clamp(1.4rem, 1.2815rem + 0.5926vw, 1.6rem);
}

li > :where(h2, h3, h4, h5, h6) {
  margin: 0;
  margin-bottom: 1rem;
}

blockquote {
  border-left: 0.4rem solid var(--grey);
  margin-left: 0;
  padding-left: 1rem;
}

p,
ul,
ol,
pre {
  max-width: var(--measure);
}
p,
ul,
ol,
pre {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
main ol,
main ul {
  padding-left: 1rem;
}
main li {
  margin-bottom: 0.3rem;
}

code,
pre {
  font-size: 1.2rem;
}

:not(pre) > code {
  --code-adjustment: 2px;
  position: relative;
  top: calc(-1 * var(--code-adjustment));
  padding: 0 calc(var(--code-padding) * 0.5) var(--code-adjustment);
  margin-left: 0.2em;
  margin-right: 0.2em;
  outline: var(--underline-thickness) solid;
  border-radius: 0.3em;
}

pre {
  padding: 1.5rem;
  border-radius: 1em;
  border: var(--underline-thickness) solid;
  border-radius: 0.3em;
  overflow-y: hidden;
}

pre > code {
  box-shadow: none;
  margin: 0;
  padding: 0;
}

table {
  margin: 0;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 0.8rem 1rem;
  border: 2px solid var(--grey);
}

th {
  background: var(--light-grey);
}

table,
.table-responsive {
  margin-bottom: 1.5rem;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > table {
  max-width: var(--measure);
  margin-bottom: 0;
}

main > img {
  display: block;
  margin: 0;
  max-width: 100%;
}

main {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.is-home main {
    padding-top: 0;
    margin-top: var(--main-padding-top);
}
main::before {
  content: "";
  clear: both;
  display: table;
}
main > :first-child {
  margin-top: 0;
}
main > :last-child {
  margin-bottom: 0;
}

hr {
  margin: 0;
  margin-bottom: 2rem;
  border: 0;
  border-top: var(--underline-thickness) solid var(--grey);
}

.header {
  position: relative;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background: var(--dark-blue);
  color: var(--white);
  --outline-color: currentColor;
}
@media (min-width: 50rem) {
  .header {
    padding-top: 1.3rem;
    margin-bottom: clamp(1rem, 5vw, 2.6rem);
  }
}
@supports (mix-blend-mode: overlay) {
  .is-home header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    background-image: url(../assets/background-texture.svg);
    background-repeat: no-repeat;
    background-size: var(--fingerprint-size);
    background-position: top 2rem left -30rem;
    mix-blend-mode: screen;
  }
}
header hr {
  width: 13ch;
  margin-top: 2.2rem;
  margin-bottom: 1.2rem;
}
header > :last-child {
  margin-bottom: 0;
}
.header-link {
  display: inline-block;
}

.header-title {
  font-size: 1.84em;
  font-weight: bold;
}

.logo {
  position: relative;
  z-index: 2;
  display: block;
  font-size: 1rem;
  max-height: 3em;
  max-width: 25em;
  color: inherit;
}
.is-home .logo {
  margin-top: 0.5rem;
}
@media (min-width: 49rem) {
  .is-home .logo {
    font-size: 1.3rem;
    margin-top: 2rem;
  }
}
.logo--image {
  display: block;
  height: 100%;
  width: 100%;
}
.logo #logo-subtitle {
  fill: var(--light-green);
}
.logo path {
  stroke-width: 6px;
  paint-order: stroke;
}
.logo path:not(#logo-underline) {
  stroke: var(--dark-blue);
}
.logo:focus #logo-underline,
.logo:hover #logo-underline {
  fill: currentColor;
  stroke: var(--dark-blue);
}

.back-link {
  display: inline-block;
  position: relative;
  margin-top: 0.6rem;
  margin-bottom: 1.5rem;
  margin-left: 0.4em;
  background: var(--background-color);
  box-shadow: 4px 0 0 4px var(--background-color);
}
@media (max-width: 50rem) {
  .back-link {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
}
.back-link:focus {
  outline: none;
}
.back-link:focus::after {
  outline: var(--outline-width) solid var(--outline-color);
}
/* Increase touch area size */
.back-link::after {
  content: "";
  position: absolute;
  top: -0.3em;
  bottom: -0.35em;
  left: -0.4em;
  right: -0.4em;
  background: transparent;
}
.back-link::before {
  --chevron-thickness: var(--underline-thickness);
  content: "";
  position: relative;
  display: inline-block;
  top: -0.06em;
  height: 0.36em;
  width: 0.36em;
  margin-right: 0.2em;
  transform: rotate(-135deg);
  border-style: solid;
  border-width: var(--chevron-thickness) var(--chevron-thickness) 0 0;
  border-color: var(--link-color);
}

.back-to-top {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.back-to-top:focus {
  outline: none;
}
.back-to-top:focus::before {
  outline: var(--outline-width) solid var(--outline-color);
}
/* Increase touch area size */
.back-to-top::before {
  content: "";
  position: absolute;
  top: -0.3em;
  bottom: -0.35em;
  left: -0.8em;
  right: -0.4em;
  background: transparent;
}

.back-to-top::after {
  --chevron-thickness: var(--underline-thickness);
  content: "";
  position: relative;
  display: inline-block;
  height: 0.36em;
  width: 0.36em;
  margin-left: 0.4em;
  transform: rotate(315deg);
  border-style: solid;
  border-width: var(--chevron-thickness) var(--chevron-thickness) 0 0;
  border-color: var(--link-color);
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--text-color);
  box-shadow: 0 20rem 0 20rem var(--text-color);
  color: var(--background-color);
  --outline-color: currentColor;
}

footer a {
  color: currentColor;
}

.footer-inline-links {
  list-style: none;
  padding: 0;
}
.footer-inline-links li {
  margin-bottom: 1rem;
}
@media (min-width: 60rem) {
  .footer-inline-links {
    --footer-inline-links-gap: 0.8rem;
    display: inline-flex;
    margin: 0;
    gap: var(--footer-inline-links-gap);
  }
  .footer-inline-links li {
    margin: 0;
  }
  .footer-inline-links li:not(:last-child)::after {
    content: "\2013";
    margin-left: var(--footer-inline-links-gap);
  }
}

.contains-task-list {
  list-style: none;
  padding-left: 0;
}

.communities {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.communities-item {
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
}
@media (min-width: 50rem) {
  .communities-item {
    grid-template-columns: 1fr 1.125fr;
    gap: 1.8rem;
    align-items: center;
    margin-bottom: 1.5rem;
  }
}
.communities-description > :last-child {
  margin-bottom: 0;
}
.communities-logo {
  --_background-color: var(--community-background-color, var(--link-color));
  --_background-image: var(--community-image);
  --_color: var(--community-color, white);
  position: relative;
  box-sizing: border-box;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 4vh 2rem;
  background-image: var(--_background-image);
  background-color: var(--_background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.communities-link {
  color: var(--_color);
  font-size: clamp(1.3rem, 6vw, 3rem);
  font-weight: bold;
  text-align: center;
  background-color: var(--_background-color);
  box-shadow: 0 0 0 0.8rem var(--_background-color);
}
@media (min-width: 50rem) {
  .communities-link {
    font-size: clamp(1.3rem, 2.5vw, 1.9rem);
  }
}
.communities-link:focus {
  outline: none;
}
.communities-link:focus::after {
  outline: var(--outline-width) solid var(--outline-color);
  outline-offset: var(--outline-offset);
}
.communities-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero {
  --_background-color: var(--community-background-color, var(--text-color));
  --_background-image: var(--community-image);
  --_color: var(--community-color, white);
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: end;
  max-width: 48rem;
  margin-bottom: 2.6rem;
  margin-top: calc(-1 * var(--main-padding-top)) !important;
  margin-left: calc(-1 * var(--content-padding-horizontal));
  padding: max(1.5rem, 1.5vh) calc(var(--content-padding-horizontal) / 2);
  background-image: var(--_background-image);
  background-color: var(--_background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 45rem) {
  .hero {
    margin-left: calc(-1 * var(--container-padding));
    margin-right: calc(-1 * var(--container-padding));
    max-width: unset;
  }
}
.hero--with-image {
  max-height: 60vh;
  aspect-ratio: 16/9;
}
.hero-title {
  color: var(--_color);
  background-color: var(--_background-color);
  padding: max(1rem, 1vh) calc(var(--content-padding-horizontal) / 2)
    max(1rem, 1.5vh);
  margin: 0;
}

.error-message {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  border-left: 0.4rem solid var(--red);
}
.error-title {
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--red);
}
.error-code-title {
  margin-bottom: 0.2rem;
}

:focus {
  outline: var(--outline-width) solid var(--outline-color);
  outline-offset: var(--outline-offset);
}

[hidden] {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
}
.visually-hidden-focusable {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
}
.visually-hidden-focusable:active,
.visually-hidden-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: inherit;
  overflow: visible;
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  white-space: inherit;
}
