<script webc:type="render" webc:is="template">
    function () {
        const { differenceInMinutes, formatDistanceToNow, formatRelative } = this.helpers;

        if (!this.datetime) {
            throw new Error("No datetime attribute");
        }

        const datetime = eval(this.datetime);
        const date = new Date(datetime);
        const minutesSinceTime = differenceInMinutes(new Date(), date);
        const formattedDate = minutesSinceTime > 60 ? formatRelative(date, new Date()) : formatDistanceToNow(date, { addSuffix: true });
        return `<time datetime="${datetime}">${formattedDate}</time>`;
    }
</script>